.movies {
    width: 100%;
}

.movieCard {
    margin: 20px 10%;
}

.cardCrawl {
    font-size: 12px;
    font-style: italic;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.movieTitle {
    display: flex;
    justify-content: space-between;
}